* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #070b36;
    background-color: #62aec2;
    overflow: hidden;
  }
header,
footer {
    position: fixed;
    width: 100vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    user-select: none;
    display: flex;
}
header {
    background-color: #3580a3;
    color: #d3e9f3;
    top: 0;
}
.content {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
footer {
    height: 200px;
    bottom: 0px;
    opacity: 0%;
    transition: .1s all ease-out;
}
.tasks {
    width: 28%;
    display: inline-block;
    margin-right: 20px;
}

  .tasks__title {
    margin: 50px 0 20px 0;
  
    text-align: center;
    text-transform: uppercase;
   }
  
  .tasks__list {
    margin: 0;
    padding: 0;
    height: calc(50vh - 80px);
      overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
  }
  
  .tasks__item {
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 5px;
  
    text-align: center;
    border: 2px solid #3580a3;
    border-radius: 10px;
    cursor: move;
    background-color: #d3e9f3;
  
    transition: background-color 0.5s;
  }
  
  .tasks__item:last-child {
    margin-bottom: 0;
  }
  
  .selected {
    opacity: 0.6;
  }
  .remove-task {
    border: 2px dashed #9ee4fa;
    color: #45a7c0;
    cursor: pointer;
    transition: .1s all ease-out;
      user-select: none;
  }
  input {
      display: flex;
      width: 100%;
      border: none;
      outline:none;
      font-family: "Tahoma", sans-serif;
      font-size: 18px;
      text-align: center;
      background-color: transparent;
      border-bottom: 2px solid #45a7c0;
  }


canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100vw;
    height: 35vh;
    /*background-color: rgb(30,40,100);*/
    /*background-image: url("");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 75%);
}

#inside {
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    margin-left: 300px;
}

/* ---- stats.js ---- */

.count-particles{
    background: #202010;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}
.delete-active {
    background-color: #d3110a;
    height: 20vh !important;
    padding-top: 20vh;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 75%);
    opacity: 100%;
}
.mask {
    height: 10vh;
    background: repeating-linear-gradient(
        45deg,
        #d3110a,
        #d3110a 10px,
        #742b2b 10px,
        #742b2b 20px
    );
}
#recycle-bin {
    width: 90px;
    padding: 40px;
    -webkit-filter: invert(100%);
    z-index: 1000;
    transition: .2s all ease-out;
    opacity: 80%;
}
.bin-active {
    transform: scale(1.2);
}
.active {
    opacity: 100% !important;
}
.delete-text-bottom {
    position: absolute;
    bottom: 0;
    width: 200px;
    user-select: none;
    padding: 20px;
    border-top: 2px solid #070b36;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: .1s all ease-out;
    transform: translateY(150%);
}
.text-bottom-active {
    transform: translateY(0%);
}